/* Common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --element-color: #0061FF;
    --background-color: #B4D0E7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.margin_lg{
    width: 1000px;
    margin: auto;
}

.margin_sm{
    width: 800px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mr{
    margin-right: 20px;
}

/* Col */

.col_50{
    height: 3rem;
    width: 50%;
    background-color: aqua;
    float: left;
}

.col_25{
    height: 200px;
    width: 25%;
    background-color: lightgreen;
    float: left;
}

.col_75{
    height: 300px;
    width: 73%;
    background-color: lightgreen;
    float: left;
}

/* header */

#site_header{
    height: 80vh;
    background-color: wheat;
}

.navbar{
    height: 3rem;
    background-color: salmon;
}


.title{
    margin-top: 5rem;
    height: 8rem;
    background-color: cadetblue;
}

.hero_section{
    margin-top: 2rem;
}