/* Common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --element-color: #0061FF;
    --background-color: #B4D0E7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* utility */

.blue{
    color: var(--element-color);
}

.margin_lg{
    width: 1000px;
    margin: auto;
}

.margin_sm{
    width: 800px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mr{
    margin-right: 20px;
}

.ml{
    margin-left: 20px;
}

.mt{
    margin-top: 3rem;
}

.vh{
    height: 100vh;
}

/* Col */

.col_10{
    width: 10%;
    float: right;
}

.col_20{
    height: 300px;
    width: 20%;
    background-color: aqua;
    float: left;
}

.col_25{
    width: 25%;
    float: left;
}

.col_33{
    width: 31.66%;
    float: left;
}

.col_40{
    width: 37%;
    float: left;
}

.col_50{
    width: 50%;
    float: left;
    position: relative;
}

.col_60{
    width: 60%;
    float: left;
}

.col_75{
    width: 73%;
    float: left;
}

.col_90{
    width: 90%;
    float: left;
}

.col_100{
    width: 100%;
    float: left;
}

/* buttons */

.btn_main{
    color: white;
    background-color: var(--element-color);
    padding: 0.5rem 1.5rem;
}

.btn_black{
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
}

.btn_white{
    font-size: 0.75rem;
    background-color: white;
    padding: 0.5rem 1.5rem;
}

/* header */

.head_bg{
    height: 650px;
    background-color: var(--background-color);
}

.navbar{
    background-color: white;
    padding: 1.5rem 1rem;
}

.logo{
    vertical-align: sub;
}

.left_menu > ul,
.right_menu > ul{
    display: inline-block;
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0 0.75rem;
}

.right_menu{
    text-align: right;
}

.title > h1{
    margin-top: 4rem;
    font-weight: bold;
    font-size: 57px;
}

.hero_section{
    margin-top: 2rem;
}

.hero_section > .col_25{
    margin-right: 50px;
}

.hero_section p{
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.hero_section > .col_25 > a{
    font-size: 0.75rem;
}

.hero_section > .col_25 > div{
    margin-top: 1rem;
    font-size: 0.75rem;
}

.hero_section > .col_75{
    width: 70%;
}

.hero_section > .col_75 > img{
    width: 680px;
}

.hero_section > .col_25 > i{
    margin-top: 2rem;
    font-size: 2rem;
}

/* main */

.business_plan{
    margin-top: 9rem;
}

.section_title{
    font-size: 1.3rem;
}

.radio_btn{
    margin-top: 3rem;
}

.user{
    border: 1px solid lightgrey;
    padding: 0.5rem 0;
    text-align: center;
}

.content{
    border: 1px solid lightgrey;
    border-top: none;
    padding: 1.5rem 1.5rem 8rem;
}

.info > h5{
    margin: 0.5rem 0;
}

.preview{
    color: grey;
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.info > ul > li{
    list-style: none;
    margin: 1rem 0;
    font-size: 0.75rem;
}

.info > ul{
    margin-bottom: 3rem;
}

.try{
    text-align: center;
    font-size: 0.81rem;   
}

.buy_now{
    margin: 2rem 0;
    font-size: 0.75rem;
}

.buy_now > span{
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.5rem;
}

.buy_now > a{
    text-decoration: underline;
    color: #0061FF;
}

.strong_point >h5{
    margin-top: 3rem;
}

.strong_point li{
    margin-top: 1rem;
    list-style: none;
    font-size: 0.75rem;
}

.plan > .col_33{
    margin-top: 2rem;
}

label{
    margin-right: 1rem;
}

.plan{
    margin-top: 20px;
}

.enterprise{
    margin-top: 20px;
}

.content > .col_75 h5{
    margin: 15px 0;
}

.content > .col_75 div{
    font-size: 0.65rem;
}

.content > .col_25{
    color: white;
    font-size: 0.65rem;
}

.content > .col_25 > a{
    padding: 0.5rem 2.1rem;
}

.contact_partner{
    padding: 4rem 0;
}

.contact_partner > .col_40{
    margin-top: 2rem;
    font-size: 0.97rem;
}

.col_40 > p{
    margin: 1.5rem 0;
    line-height: 1.5rem;
}

.partner_img{
    width: 100%;
    
}

.more_operation > .col_33{
    height: 300px;
    margin-top: 20px;
}

.partner{
    margin-top: 20px;
}

.firm{
    padding: 5rem 0;
    background-color: var(--background-color);
}

.firm h2{
    color: #61082B;
}

.faq > .section_title{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.question > i{
    text-align: right;
}

.question{
    padding: 1.5rem 0;
    border-top: 1px solid lightgrey;
}

.question > h5{
    display: inline-block;
}

#site_footer{
    margin-top: 8rem;
    background-color: darkgoldenrod;
}

.useful{
    padding: 6rem 0;
}

.useful > .col_100{
    margin-top: 6rem;
    margin-bottom: 2rem;
    height: 2rem;
}

.img_33{
    width: 100%;
}

.more_operation p{
    font-size: 0.87rem;
}

#underline{
    text-decoration: underline;
}

.dropbox_user .section_title{
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.link{
    margin-bottom: 3rem;
}

.link > a{
    text-decoration: underline;
    color: #0061FF;
}

/* color col_50 */

#lightgreen{
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;

}

#darkred{
    background-color: #61082B;
}

#middleblue{
    background-color: #0093CE;
}

#red{
    background-color: #FF1C1C;
}

#crimson{
    background-color: #D5001F;
}

#lightblue{
    background-color: var(--background-color);
}

#darkblue{
    background-color: #0D2481;
}

#yellow{
    background-color: #FFD830;
}

.col_25 > .col_50{
    height: 192px;
}

.logo_img{
    filter: invert(1);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partner > .main_col > .col_50{
    background-color: #F5F5F5;
    padding: 2rem;
}

.designit{
    width: 150px;
    margin-bottom: 4rem;
}

.bt{
    border-top: 2px solid lightgrey;
    padding-top: 2rem;
}

.main_col > .col_50 > p{
    margin-bottom: 2rem;
}

.main_col > .col_50 > div{
    margin-bottom: 4rem;
    background-color: #F5F5F5;
}

