/* Common rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --element-color: #0061FF;
    --background-color: #B4D0E7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* utility */

.margin_lg{
    width: 1000px;
    margin: auto;
}

.margin_sm{
    width: 800px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mr{
    margin-right: 20px;
}

.ml{
    margin-left: 20px;
}

.vh{
    height: 100vh;
}

/* Col */

.col_25{
    height: 450px;
    width: 25%;
    background-color: lightgreen;
    float: left;
}

.col_33{
    height: 500px;
    width: 31.66%;
    background-color: blueviolet;
    float: left;
}

.col_50{
    height: 3rem;
    width: 50%;
    background-color: aqua;
    float: left;
}

.col_75{
    height: 450px;
    width: 73%;
    background-color: lightgreen;
    float: left;
}

.col_100{
    height: 150px;
    width: 100%;
    background-color: burlywood;
    float: left;
}

/* header */

#site_header{
    height: 100vh;
}

.head_bg{
    height: 80vh;
    background-color: wheat;
}

.navbar{
    height: 3rem;
    background-color: salmon;
}


.title{
    margin-top: 5rem;
    height: 8rem;
    background-color: cadetblue;
}

.hero_section{
    margin-top: 2rem;
}

/* main */

.section_title{
    margin-top: 1rem;
    height: 3rem;
    background-color: coral;
}

.radio_btn{
    margin-top: 3rem;
    height: 2rem;
    background-color: aquamarine;
}

.plan{
    margin-top: 20px;
}

.enterprise{
    margin-top: 60px;
}

.contact_partner{
    padding: 4rem 0;
}

.contact_partner > .col_25{
    width: 24.50%;
    height: 300px;
}

.contact_partner > .col_75{
    height: 300px;
}

.more_operation > .col_33{
    height: 300px;
    margin-top: 20px;
}